.list {
    width: 350px;
    height: 100%;
    margin-bottom: 10px;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    /* border: 1px solid rgb(223, 223, 223); */
    overflow-y: scroll;
}

.list li {
    color: var(--text);
}


/* Table */
.list table {
    width: 100%;
    border-collapse: collapse;
}

.list table th {
    color: var(--text);
    font-weight: 400;
    border-bottom: 2px solid rgb(214, 214, 214);
    padding-bottom: 3px;
    text-align: start;
}

.list table th:last-child {
    text-align: center;
}

tbody:before {
    content: "";
    display: block;
    height: 5px;
}

.list table tr {
    color: var(--text);
    border-bottom: 1px solid rgb(214, 214, 214);

}

.list table tr td:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 30px;
}

.list tr:hover {
    background-color: rgb(231, 231, 231);
    cursor: pointer;
}