:root {
  --bgInfo: rgb(59, 159, 218);
  --bgSuccess: rgb(0, 212, 142);
  --bgDanger: rgb(255, 86, 86);
  --bgEdit: rgb(253, 186, 62);

  --bgInfoHover: rgb(51, 139, 190);
  --bgSuccessHover: rgb(0, 199, 133);
  --bgDangerHover: rgb(255, 29, 29);
  --bgEditHover: rgb(253, 168, 10);


  --bgApp: rgba(250, 250, 250, 0.6);
  --hover: rgb(230, 230, 230);

  --shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);

  --text: rgb(110, 110, 110);
  --textLight: #fff;

  --transition: all .1s ease-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-behavior: smooth;
  background: url(./img/bg-b.jpg);
  background-position: center center;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Dark Theme */
.dark {
  background-color: #242323;
}

/* Utility */
.bg-success {
  background-color: var(--bgSuccess);
}

.bg-info {
  background-color: var(--bgInfo);
}

.bg-danger {
  background-color: var(--bgDanger);
}

.bg-edit {
  background-color: var(--bgEdit);
}

.bg-success:hover {
  background-color: var(--bgSuccessHover);
}

.bg-info:hover {
  background-color: var(--bgInfoHover);
}

.bg-danger:hover {
  background-color: var(--bgDangerHover);
}

.bg-edit:hover {
  background-color: var(--bgEditHover);
}

.icon-main {
  color: var(--bgDanger);
  font-size: 20px;
}

.icon-second {
  font-size: 22px;
  text-align: center;
  margin-top: 2px;
}

/* Utility */


li {
  list-style: none;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* background-color: var(--bgApp); */
  width: 400px;
  border-radius: 20px;
  height: 580px;
  /* box-shadow: var(--shadow); */
  box-shadow: 0 0 80px rgba(104, 104, 104, 0.4);
  padding: 20px;
  backdrop-filter: blur(4px);
}


.app .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 300px;
}

.app .header h1 {
  font-size: 22px;
  color: var(--text);
  font-weight: 400;
}

.app .header span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--bgInfo);
  color: var(--textLight);
}

.app .header span p {
  /* text-align: center; */
  margin-bottom: 1px;
  font-size: 12px;
  font-weight: 600;
}